<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/index.css" rel="stylesheet"/>
    <title>LinQu</title>
</head>
<body>
<div class="header col-xs-3 left-header">
    <div class="content">
        <input type="text" class="form-control" placeholder="Search"/>
    </div>
</div>
<div class="header col-xs-9 col-xs-offset-3">
    <div class="content">
        <span class="left">
            <a href="#">
                <i class="icon ion-chevron-left"></i>
            </a>
        </span>
        <p class="text-center"></p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">Hell World</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-xs-offset-3 main">
            <div>Content</div>
        </div>
    </div>
</div>
<div class="footer col-xs-3 left-footer">
    <div class="content">
        <div class="left-menu btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default active">Content</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Category</button>
            </div>
        </div>
    </div>
</div>
<div class="footer col-xs-9 col-xs-offset-3">
    <div class="content">
        <p class="text-center">
            <small>Design © 2014 Copyright 2014 LinQu.</small>
        </p>
    </div>
</div>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/vendor/angular/angular.min.js"></script>

</body>
</html>