<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/styles/index.css" rel="stylesheet"/>
    <title>LinQu</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header col-xs-3 left-header">
        <div class="content">
            <div class="col-xs-9 searchBox">
                <input id="search" type="text" class="form-control" placeholder="Search"/>
            </div>
            <button id="addBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addContent">
                Add
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">New Content <small id="contentValid" data-status="init"></small></h4>
                        </div>
                        <div class="modal-body">
                            <form id="newContentForm" th:object="${content}" role="form" action="/contents" method="POST">
                                <input id="contentUrl" type="url" th:field="*{url}" name="url" class="form-control" placeholder="Input URL" required="true" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button id="checkBtn" type="button" class="btn btn-primary disabled">Check</button>
                            <button id="saveBtn" type="submit" class="btn btn-success disabled">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header col-xs-9 col-xs-offset-3">
        <div class="content">
            <p class="text-center">
                <small>top</small>
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li th:each="content,rowStat : ${allContents}" th:class="${rowStat.count == 1} ? active">
                        <a href="#" th:text="${content.title}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-9 col-xs-offset-3 main">
                <div></div>
            </div>
        </div>
    </div>
    <div class="footer col-xs-3 left-footer">
        <div class="content">
            <div class="left-menu btn-group btn-group-justified">
                <div class="btn-group">
                    <a type="button" class="btn btn-default active" href="/">Contents</a>
                </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-default" href="/categories" >Categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer col-xs-9 col-xs-offset-3">
        <div class="content">
            <p class="text-center">
                <small>bottom</small>
            </p>
        </div>
    </div>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script type="application/javascript">
        $(function() {
            $('#addContent').on('shown.bs.modal', function () {
                $('#saveBtn').hide();
                $('#checkBtn').show();
                $('#contentUrl').prop('disabled', false);
                $('#contentUrl').focus();
                $('#contentValid').empty();
                $('#contentValid').attr('data-status', 'init');
            });

            $('#contentUrl').keyup(function() {
                if ($( this ).val().length !== 0) {
                    $('#checkBtn').removeClass('disabled');
                } else {
                    $('#checkBtn').addClass('disabled');
                }
            }).keyup();

            $('#checkBtn').click(function() {
                var contentUrl = $('#contentUrl').val();

                $.ajax({
                    type: "POST",
                    url: "/contents/check",
                    dataType: "json",
                    data: { contentUrl: contentUrl }
                }).done(function( msg ) {
                    $('#contentValid').empty();
                    $('#contentValid').append('<span class="label label-success">Valid</span> ' + msg.title);
                    $('#contentUrl').prop('disabled', true);
                    $('#checkBtn').hide();
                    $('#saveBtn').show();
                    $('#saveBtn').removeClass('disabled');
                    $('#contentValid').attr('data-status', 'ready');
                }).error(function( e ) {
                    var msg = eval("(" + e.responseText + ")");
                    console.log(msg);
                    $('#contentValid').empty();
                    $('#contentValid').append('<span class="label label-danger">Invalid</span> ' + msg.reason);
                });
            });

            $('#saveBtn').click(function() {
                $('#newContentForm').submit();
            });

            $('#newContentForm').submit(function( event ) {
                var status = $('#contentValid').attr('data-status');
                if(status === 'init') {
                    $('#checkBtn').click();
                    event.preventDefault();
                } else if(status === 'ready') {
                    $('#contentUrl').prop('disabled', false);
                    $('#contentValid').attr('data-status', 'done');
                }
            });
        });
    </script>
</body>
</html>