/*
 * Base structure
 */

/*
 * Prevent bounce
 */
html, body {
    height: 100%;
    overflow: hidden;
}

/*
 * Remove underline when hover a link wrapped by header
 */
h4 a:link{
    text-decoration: none;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    /*background-color: #f5f5f5;*/
    border-right: 1px solid #eee;

    margin-top: 50px; /* for sticky header */
    margin-bottom: 60px; /* for sticky footer */
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 0;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 15px;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    margin-top: 50px; /* for sticky header */
    margin-bottom: 60px; /* for sticky footer */
}

.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Sticky footer
 */
.footer {
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    display: table;
}

.left-footer, .left-header {
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

.footer .content, .header .content {
    display: table-cell;
    vertical-align: middle;
}

.footer .content p, .header .content p {
    margin: 0;
}

/*
 * Sticky header
 */
.header {
    position: absolute;
    top: 0;
    /* Set the fixed height of the footer here */
    height: 50px;
    border-bottom: 1px solid #eee;
    display: table;
}

.left-padding-zero {
    padding-left: 0;
}

/*
 * Content of Partial
 */
.main .container {
    padding: 20px 0;
    width: 100%;
}

.table {
    font-size: 14px;
    table-layout: fixed;
}

.table th, .table td {
    word-break:break-all;
}

dl {
    font-size: 14px;
    table-layout: fixed;
}

dd {
    word-break:break-all;
}

.left {
    position: absolute;
    left: 20px;
}

.container .nav {
    margin-bottom: 10px;
}

.header .navbar {
    margin-bottom: 0;
    border: 0;
}

.header .navbar .container-fluid {
    padding: 0;
}

.header .navbar .container-fluid .navbar-form {
    padding-left: 0;
    padding-right: 5px;
}

.modalBtn {
    float: right;
    padding-left: 5px;
}

.panel-heading h3 {
    margin-top: 10px;
}

.post-title {
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: normal;
    margin-top: 0;
}

.post-bottom {
    font-size: 1.3rem;
    font-weight: 300;
}

.posts-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
    height: 40px;
    padding: 10px 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #aaa9a2;
    background: linear-gradient(to bottom, white 0%, white 25%, rgba(255, 255, 255, 0.9) 100%);
}

.category {
    border-left-width: 5px;
    border-left-color: #5bc0de;
    border-radius: 3px;
    padding: 5px;
}